.tpproduct__thumb{

}

.tpproduct__content {
    background-color: white;
}
.tp-btn-2{
    
    background-color: white;
    border: 2px solid orange;
    color: orange;
    text-transform: none;
    border-radius: 4px;
} 
.tp-btn-2:hover{
    background-color: orange;
    color: white;
}
.tpproduct__thumb{
    border-radius: 2px;
}
.tpproduct{
    border: 1px solid rgb(177, 176, 176);
    border-radius: 0px;
}