/* Category Item Box */
.category__item {
  background: #fff;
  padding: 18px 12px;
  border-radius: 0px;
  text-align: center;
 border: 1px solid rgb(168, 166, 166);
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

/* Hover Shadow + Animation */
/* .category__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.13);
} */
.category__title{
  font-family:'Courier New', Courier, monospace;
  
}
/* Image container */
.category__thumb {
  display: flex;
  justify-content: center;
  align-items: center;

}


/* Title styling */
.category__title {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 600;
  color: #222;
}

.category__title a {
  color: inherit;
  text-decoration: none;
}

.category__title a:hover {
  color: #007bff;
}

.category-slider-wrapper {
  padding-left: 140px;
  padding-right: 140px;
}

@media (max-width: 768px) {
  .category-slider-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}



.category__thumb::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: 100% 1px, 1px 100%;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-50%, -50%);
  /* opacity: 0;
  visibility: hidden; */
  z-index: 11;
  pointer-events: none;
}

.category__thumb::before {
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.4); */
  content: "";
  z-index: 2;
  opacity: 0;
  transition: all 240ms linear 0s;
  pointer-events: none;
}