.tpfooter__widget-links ul li a{
    color: white;
}
.tpfooter__widget p{
    color: white;
}
.tpfooter__widget p{
    color: white;
}

.tpfooter__widget-time-info span{
    color: white;
}
.tpfooter__widget p a{
    color: white;
}